<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
<!--    <listeners>-->
<!--        <listener class-name="tests."></listener>-->
<!--    </listeners>-->

    <test name="testforTrailerInspection" >
        <classes>
            <class name="demo.LoginPage" >
            </class>

        </classes>
    </test>
    <!-- <test name="testforTrailerInspectionForOutbound">-->
    <!-- <classes>-->
    <!-- <class name="tests.OutBound.TrailerInspectionOutBound"></class>-->
    <!-- </classes>-->
    <!-- </test>-->
</suite>